Docker/Infra/nodered/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1 Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32a4376ec58dcb18",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a9f7571b5ef7b8d",
        "type": "group",
        "z": "32a4376ec58dcb18",
        "name": "Control LED",
        "style": {
            "label": true
        },
        "nodes": [
            "7c319599489e5277",
            "d2b609c3233ed08a",
            "5d0e38fcecc83ec2",
            "5d7197a07568184e",
            "1807a467ef6b4fad",
            "419070db5845acbf",
            "98ccbe5c0eedbcf4",
            "3d1d12da6fbd4125",
            "ae0c0f015d23ba98",
            "fb4fe75db74665a6",
            "d5200202227d96e8",
            "f8fd87ffbfba9a24"
        ],
        "x": 54,
        "y": 639,
        "w": 932,
        "h": 422
    },
    {
        "id": "54f78cbe45083d94",
        "type": "group",
        "z": "32a4376ec58dcb18",
        "name": "Read system values and init system",
        "style": {
            "label": true
        },
        "nodes": [
            "a321c927ee625596",
            "4ec4f64c1a115e60",
            "bac6e123a3daaf96",
            "66a33b26115227f2",
            "adbe95ec700c6293",
            "a9e9ec4394db16b4",
            "3704c0b1c8051013",
            "d5ede394cd1c889c",
            "f986b052d651fd8b",
            "a9210a32079dd0c8",
            "c1e42e8d61c484c0"
        ],
        "x": 54,
        "y": 119,
        "w": 1272,
        "h": 182
    },
    {
        "id": "5c501fe6e7bfd77e",
        "type": "group",
        "z": "32a4376ec58dcb18",
        "name": "Store system values",
        "style": {
            "label": true
        },
        "nodes": [
            "6d6b3036a5fa4c20",
            "91c208aea12929f0",
            "c463710e40c9cd11",
            "2a80bb8858f15ce8",
            "e40a51f06523fc95",
            "4a4447fb478d3667",
            "7963d89aa5f323c3",
            "d55ee4c6c9f050d0"
        ],
        "x": 54,
        "y": 319,
        "w": 1272,
        "h": 122
    },
    {
        "id": "e8015cb1c017dae5",
        "type": "group",
        "z": "32a4376ec58dcb18",
        "name": "Switch all LEDs on || off",
        "style": {
            "label": true
        },
        "nodes": [
            "7edaae7ba7291cd2",
            "235f5909cc66ec21",
            "b030588348e11388",
            "ff793acd5c567a5f",
            "7f246cb19efaec9c",
            "d06e1728046938e3",
            "d20693912b4577d1",
            "7c51d03ac26e77ac",
            "9d0182927d842af0"
        ],
        "x": 54,
        "y": 459,
        "w": 812,
        "h": 162
    },
    {
        "id": "c9e7667df616c430",
        "type": "ui_group",
        "name": "Wien",
        "tab": "9df319e1d1200861",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9df319e1d1200861",
        "type": "ui_tab",
        "name": "Übersicht",
        "icon": "mi-factory",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ebc82b908cda624",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c53ebfb51f9f9121",
        "type": "ui_group",
        "name": "Nord",
        "tab": "9df319e1d1200861",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "19350ac37aa7543f",
        "type": "ui_tab",
        "name": "Lager-Nord",
        "icon": "mi-warehouse",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb8c6be23845d33d",
        "type": "ui_group",
        "name": "Box-01",
        "tab": "19350ac37aa7543f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3e3ef172808e396",
        "type": "ui_group",
        "name": "Box-02",
        "tab": "19350ac37aa7543f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fcff1d7e9e4df06a",
        "type": "ui_tab",
        "name": "Lager-Süd",
        "icon": "mi-warehouse",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7e197a6ce2585433",
        "type": "ui_group",
        "name": "Box-01",
        "tab": "fcff1d7e9e4df06a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74826537ed6344b4",
        "type": "ui_group",
        "name": "Box-02",
        "tab": "fcff1d7e9e4df06a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fb1ade5341e8198",
        "type": "ui_group",
        "name": "Süd",
        "tab": "9df319e1d1200861",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "586bf571c370a406",
        "type": "ui_group",
        "name": "Nord-Box01",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "427e71050558f503",
        "type": "ui_group",
        "name": "Nord-Box02",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fc5faed0145eee0",
        "type": "ui_group",
        "name": "Süd-Box01",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e6cb45f0731fcc3",
        "type": "ui_group",
        "name": "Süd-Box02",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d109e158f357676",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "54fb6980721a7449",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad3e78a9.60d328",
        "type": "ui_group",
        "name": "Text",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "9c6ad719d03b2904",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "54fb6980721a7449",
        "type": "tls-config",
        "name": "CertNodeRed",
        "cert": "/data/server.crt",
        "key": "/data/server.key",
        "ca": "/data/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "257a61c0430a9cb3",
        "type": "ui_group",
        "name": "Room2 Chart",
        "tab": "2138fe55c86f3567",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0af03610d67f631b",
        "type": "ui_group",
        "name": "Room2 Gauge",
        "tab": "2138fe55c86f3567",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f92bcb415184ca4",
        "type": "ui_group",
        "name": "Room2 Control",
        "tab": "2138fe55c86f3567",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "92e3b52820d26ea1",
        "type": "ui_group",
        "name": "Room1 Chart",
        "tab": "990bfb7a00eda453",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f4c2a4d9359fbd1",
        "type": "ui_group",
        "name": "Room1 Gauge",
        "tab": "990bfb7a00eda453",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9f6de851b9059cb",
        "type": "ui_group",
        "name": "Room1 Control",
        "tab": "990bfb7a00eda453",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2138fe55c86f3567",
        "type": "ui_tab",
        "name": "Air Quality Monitoring Room2",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "990bfb7a00eda453",
        "type": "ui_tab",
        "name": "Air Quality Monitoring Room1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "205fd73e.b5c718",
        "type": "ui_group",
        "name": "Computers",
        "tab": "95ed8000.75e99",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "95ed8000.75e99",
        "type": "ui_tab",
        "name": "DIY Smart Socket",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "0df4552f9d69039d",
        "type": "ui_group",
        "name": "DEFAULT",
        "tab": "f3a8a67ff0904e39",
        "order": 1,
        "disp": false,
        "width": "44",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3a8a67ff0904e39",
        "type": "ui_tab",
        "name": "HOME",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "563dd05169796db4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "03135708477a5329",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "2496cdb088a99593",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7046597aca6f4bc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "691d685c94d19f4b",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "5a0a428098027461",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "167c0c367e37604a",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "c9629eabf8ae7938",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "d829377e2d13b621",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "026c90302503b671",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "d578d08bb99f7c12",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "6614e01dd494598b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "89cd0457effd61de",
        "type": "ui_tab",
        "name": "Tab 8",
        "icon": "dashboard",
        "order": 8
    },
    {
        "id": "3d9dab5c6462d2f9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "89cd0457effd61de",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "97e29229f6a2c4e9",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "3d9dab5c6462d2f9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5174411e8449277",
        "type": "ui_group",
        "name": "System Steuerung",
        "tab": "9df319e1d1200861",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ba37fd4.6558f",
        "type": "ui_group",
        "name": "Example Flow",
        "tab": "72415252.b2cadc",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "72415252.b2cadc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b4eebb1.340838",
        "type": "ui_group",
        "name": "Formating Date",
        "tab": "dab8e1c7.15c7a",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "dab8e1c7.15c7a",
        "type": "ui_tab",
        "name": "Formating Date",
        "icon": "dashboard"
    },
    {
        "id": "f0ae12d916a91f1c",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Lagerstandsverlauf",
        "group": "bb8c6be23845d33d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lagerstandsverlauf",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a9791278dd922577",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bestellstatus:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "f6023a0733d7f836",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c53ebfb51f9f9121",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box-01",
        "format": "",
        "layout": "row-spread",
        "className": "overviewTextN01",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "9ab2bacce97c81cb",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "1fb1ade5341e8198",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box-01",
        "format": "",
        "layout": "row-spread",
        "className": "overviewTextS01",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 1600,
        "y": 240,
        "wires": []
    },
    {
        "id": "b227048a804acde8",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c53ebfb51f9f9121",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box-02",
        "format": "",
        "layout": "row-spread",
        "className": "overviewTextN02",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 760,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e6878d37f9b33df5",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "1fb1ade5341e8198",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Box-02",
        "format": "",
        "layout": "row-spread",
        "className": "overviewTextS02",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 1620,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ecc548979ce46956",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "c53ebfb51f9f9121",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .overviewTextN01 {\n        color: {{msg.payload.setBoxColor}} !important;\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "f6023a0733d7f836"
            ]
        ]
    },
    {
        "id": "0fac55db59ec7132",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "c53ebfb51f9f9121",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .overviewTextN02 {\n        color: {{msg.payload.setBoxColor}} !important;\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "b227048a804acde8"
            ]
        ]
    },
    {
        "id": "c30f201411f97b8c",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "1fb1ade5341e8198",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .overviewTextS01 {\n        color: {{msg.payload.setBoxColor}} !important;\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 240,
        "wires": [
            [
                "9ab2bacce97c81cb"
            ]
        ]
    },
    {
        "id": "2b67a4766d1d918c",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "1fb1ade5341e8198",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .overviewTextS02 {\n        color: {{msg.payload.setBoxColor}} !important;\n        font-weight: bold !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 1180,
        "wires": [
            [
                "e6878d37f9b33df5"
            ]
        ]
    },
    {
        "id": "4b946f34992887f6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "function 14",
        "func": "if (msg.payload.color != null) {\n    switch (msg.payload.color) {\n        case \"red\":\n            msg.payload.setBoxColor = \"rgb(255,0,0)\";\n            break;\n        case \"yellow\":\n            msg.payload.setBoxColor = \"rgb(255,255,0)\";\n            break;\n        case \"green\":\n            msg.payload.setBoxColor = \"rgb(0,255,0)\";\n            break;\n        case \"blue\":\n            msg.payload.setBoxColor = \"rgb(0,0,255)\";\n            break;\n        default:\n            msg.payload.setBoxColor = \"rgb(0,0,0)\";\n            break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "02796594dea1bd6f",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 3",
        "links": [
            "08a4f55b5e335467",
            "3704c0b1c8051013",
            "c04df3c0e2f685d2",
            "3fc043f21258ef8f",
            "c9f29e9a06129ae6",
            "a9210a32079dd0c8",
            "9d0182927d842af0"
        ],
        "x": 45,
        "y": 360,
        "wires": [
            [
                "ea6ef44ce7633f80"
            ]
        ]
    },
    {
        "id": "73d56f8042f2a151",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 15",
        "func": "var data = global.get(\"data\");\n\nif (msg.payload.onoff != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.onoff = msg.payload.onoff;\n    global.set(\"data\", data);\n    return msg\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "876d88bff2324c8f"
            ]
        ]
    },
    {
        "id": "d3e5de920bd662c8",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Material:",
        "format": "{{msg.payload.description}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "6309a2cc44988f5f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 19",
        "func": "var data = global.get(\"data\");\n\nif ((msg.weight != null && \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == false && \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null) || msg.payload.init == true) {\n    \n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"ymin\": min, \"ymax\": max };\n\n    if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != \"\") {\n\n        var weightperpiece = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece;\n        var weight = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured - data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare;\n        msg.payload = Math.round((weight / weightperpiece) * 1) / 1;\n\n         if (msg.payload < 0) {\n            msg.payload = 0;\n        } else {\n            msg.payload = msg.payload;\n        }\n    } else {\n        msg.payload = 0;\n    }\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            [
                "f0ae12d916a91f1c",
                "8c49e53dac04259a"
            ]
        ]
    },
    {
        "id": "ea6ef44ce7633f80",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 20",
        "func": "const REGAL_NR = 0;\nconst BOX_NR = 0;\n\nvar data = global.get(\"data\");\n\nif (msg.payload.regalnr == REGAL_NR && msg.payload.boxnr == BOX_NR) {\n\n    if (msg.payload.init) {\n        if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare == null ||\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare == null ||\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare == \"\") {\n\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"black\";\n            msg.payload.color = \"black\";\n            \n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = null;\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = null;\n        }\n    } else if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight == null) {\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"blue\";\n        msg.payload.color = \"blue\";\n\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare = null;\n        msg.payload.time = null;\n\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = null;\n        msg.payload.tara = null;\n\n    } else if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight != null) {\n\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"white\";\n        msg.payload.color = \"white\";\n\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = Number(msg.weight);\n        msg.payload.tare = Math.round(Number(msg.weight) * 10000) / 10000;\n\n        var time = Date.now();\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare = time.toString;\n        msg.payload.time = time;\n\n    } else if (msg.weight != null &&\n               data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == false && \n               data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null &&\n               data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != \"\") {\n        var boarder_min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max / 3;\n        var boarder_mid = boarder_min * 2;\n        boarder_min = Math.round(boarder_min * 1) / 1;\n        boarder_mid = Math.round(boarder_mid * 1) / 1;\n\n        var weightperpiece = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece;\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = msg.weight;\n        var weight = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured - data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare;\n        var pieces = Math.round((weight / weightperpiece) * 1) / 1;\n\n        if (pieces >= data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min && pieces <= boarder_min) {\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"red\";\n            msg.payload.color = \"red\";\n            if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered == 1 ||\n                data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered == 2) {\n                msg.regalnr = msg.payload.regalnr;\n                msg.boxnr = msg.payload.boxnr;\n                //var topic = \"Material Status\"\n                //msg.topic = topic;\n                msg.payload.alarmmessage = \"Kritischer Bestand in \" + data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description + \" im Regal: \" + msg.payload.regalnr + \" Box: \" + msg.payload.boxnr + \" !\";\n            }\n        } else if (pieces > boarder_min && pieces <= boarder_mid) {\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"yellow\";\n            msg.payload.color = \"yellow\";\n            if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered == 1 ||\n                data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered == 3) {\n                data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered = 2;\n                //var topic = \"Material Status\"\n                //msg.topic = topic;\n                msg.payload.warnmessage = \"Niedriger Bestand in \" + data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description + \" im Regal: \" + msg.payload.regalnr + \" Box: \" + msg.payload.boxnr + \" !\";\n            }\n        } else if (pieces > boarder_mid && pieces <= data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max) {\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = \"green\";\n            msg.payload.color = \"green\";\n            data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].state.ordered = 1;\n        }\n    }\n     \n    global.set(\"data\", data);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 360,
        "wires": [
            [
                "268b25637cece5f5",
                "40eef35607864548",
                "b9355ee80f24b943",
                "5473e909d23ceaa8",
                "6309a2cc44988f5f",
                "eeb7850a2b3c3776",
                "73d56f8042f2a151",
                "dec643171e37a325",
                "1868194fbc5dcf4e",
                "f1d5ba4dee117d8f",
                "e95aacbd966faf86",
                "72bfbce0a078809f"
            ]
        ]
    },
    {
        "id": "268b25637cece5f5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 22",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.description = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "d3e5de920bd662c8"
            ]
        ]
    },
    {
        "id": "b7c1b40f0807cfa7",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gewicht pro Stück:",
        "format": "{{msg.payload.piece}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "40eef35607864548",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 23",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.piece = Math.round(data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece * 100) / 100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "b7c1b40f0807cfa7"
            ]
        ]
    },
    {
        "id": "4cfd88e043d95761",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelles Gewicht:",
        "format": "{{msg.payload.weight}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "b9355ee80f24b943",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 24",
        "func": "var data = global.get(\"data\");\n\nif (msg.weight != null || msg.payload.init == true) {\n    if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured != null && \n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != \"\" &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated != true) {\n\n        var weight = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured - data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare;\n        msg.payload.weight = Math.round(weight * 100) / 100;\n    } else {\n        msg.payload.weight = null;\n    }\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "4cfd88e043d95761",
                "685427a8604b9997"
            ]
        ]
    },
    {
        "id": "fc8a46031f4e59e7",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierung:",
        "format": "{{msg.payload.tare}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "d6ae6da59b4f5977",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "bb8c6be23845d33d",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierungsdatum:",
        "format": "{{msg.payload.time | date:\"dd.MM.yyyy HH:mm\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "5473e909d23ceaa8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 25",
        "func": "var data = global.get(\"data\");\n\nif ((data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured != null && \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == false) || msg.payload.init == true) {\n\n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"min\":min, \"seg1\":Math.round(max/3), \"seg2\":Math.round(2*max/3), \"max\":max };\n\n    if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != \"\") {\n\n        var weightperpiece = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.piece;\n        var weight = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured - data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare;\n\n        var pieces = Math.round((weight / weightperpiece) * 1) / 1;\n\n        if (pieces < 0) {\n            msg.payload.value = 0;\n        } else {\n            msg.payload.value = pieces;\n        }\n\n    } else {\n        msg.payload.value = 0;\n    }\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "f2b539ed3672930f"
            ]
        ]
    },
    {
        "id": "f2b539ed3672930f",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "bb8c6be23845d33d",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Aktueller Lagerstand",
        "label": "Stk.",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "1553cc8927085845",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "bb8c6be23845d33d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Kalibrierung",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 820,
        "wires": [
            [
                "c77bc3b82007dc7d"
            ]
        ]
    },
    {
        "id": "62dc3ad829d7ae25",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 27",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"ymin\": min, \"ymax\": max };\n\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight ;    \n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1440,
        "wires": [
            [
                "83e19b9197a45b82"
            ]
        ]
    },
    {
        "id": "49f4171be33fd375",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 28",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.description = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1240,
        "wires": [
            [
                "c4db5ca158182d04"
            ]
        ]
    },
    {
        "id": "bb623ac385547f8f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 29",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.pice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1280,
        "wires": [
            [
                "87f6b559e0812a8b"
            ]
        ]
    },
    {
        "id": "666afd698646a810",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 30",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var weight = msg.weight;\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload.weight = weight;\n\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1320,
        "wires": [
            [
                "76208439e8460f01"
            ]
        ]
    },
    {
        "id": "f45185fcbd26230e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 31",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n\n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"min\":min, \"max\":max };\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "440b05f04a1bd728"
            ]
        ]
    },
    {
        "id": "7f97d727cae5d709",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 32",
        "func": "const REGAL_NR = 0;\nconst BOX_NR = 1;\n\nif (msg.payload.regalnr == REGAL_NR && msg.payload.boxnr == BOX_NR) {\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1280,
        "wires": [
            [
                "828cc66aa05bc690",
                "49f4171be33fd375",
                "bb623ac385547f8f",
                "666afd698646a810",
                "f45185fcbd26230e",
                "62dc3ad829d7ae25"
            ]
        ]
    },
    {
        "id": "828cc66aa05bc690",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 33",
        "func": "var data = global.get(\"data\");\n\n\n\nif (msg.payload.onoff != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.onoff = msg.payload.onoff;\n}\n\n\nif (msg.payload.color != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = msg.payload.color;\n}\n\nswitch (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color) {\n    case \"red\":\n        msg.payload.setBoxColor = \"rgb(255,0,0)\";\n        break;\n    case \"yellow\":\n        msg.payload.setBoxColor = \"rgb(255,255,0)\";\n        break;\n    case \"green\":\n        msg.payload.setBoxColor = \"rgb(0,255,0)\";\n        break;\n    case \"blue\":\n        msg.payload.setBoxColor = \"rgb(0,0,255)\";\n        break;\n    default:\n        msg.payload.setBoxColor = \"rgb(0,0,0)\";\n        break;\n}\n\nmsg.payload.color = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color;\n\n\n\n\nglobal.set(\"data\", data);\n\nreturn msg; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "0fac55db59ec7132"
            ]
        ]
    },
    {
        "id": "c4db5ca158182d04",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Material:",
        "format": "{{msg.payload.description}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 1240,
        "wires": []
    },
    {
        "id": "83e19b9197a45b82",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Lagerstandsverlauf",
        "group": "c3e3ef172808e396",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lagerstandsverlauf",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "8534eedf1b0ccf65",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bestellstatus:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 1400,
        "wires": []
    },
    {
        "id": "87f6b559e0812a8b",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gewicht pro Stück:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1280,
        "wires": []
    },
    {
        "id": "76208439e8460f01",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelles Gewicht:",
        "format": "{{msg.payload.weight}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1320,
        "wires": []
    },
    {
        "id": "140de69137217c16",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierung:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 1480,
        "wires": []
    },
    {
        "id": "9814870640f9a9d8",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "c3e3ef172808e396",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierungsdatum:",
        "format": "{{msg.payload.pice}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 1520,
        "wires": []
    },
    {
        "id": "440b05f04a1bd728",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c3e3ef172808e396",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Aktueller Lagerstand",
        "label": "Stk.",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 1360,
        "wires": []
    },
    {
        "id": "dd4b0eef5f71f04d",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "c3e3ef172808e396",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibrierung",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "aec30c78b29ec91e",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 4",
        "links": [
            "08a4f55b5e335467",
            "3704c0b1c8051013",
            "c04df3c0e2f685d2",
            "3fc043f21258ef8f",
            "c9f29e9a06129ae6",
            "a9210a32079dd0c8",
            "9d0182927d842af0"
        ],
        "x": 65,
        "y": 1280,
        "wires": [
            [
                "7f97d727cae5d709"
            ]
        ]
    },
    {
        "id": "927e59b8627fb40a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 34",
        "func": "var data = global.get(\"data\");\n\n\n\nif (msg.payload.onoff != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.onoff = msg.payload.onoff;\n}\n\n\nif (msg.payload.color != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = msg.payload.color;\n}\n\nswitch (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color) {\n    case \"red\":\n        msg.payload.setBoxColor = \"rgb(255,0,0)\";\n        break;\n    case \"yellow\":\n        msg.payload.setBoxColor = \"rgb(255,255,0)\";\n        break;\n    case \"green\":\n        msg.payload.setBoxColor = \"rgb(0,255,0)\";\n        break;\n    case \"blue\":\n        msg.payload.setBoxColor = \"rgb(0,0,255)\";\n        break;\n    default:\n        msg.payload.setBoxColor = \"rgb(0,0,0)\";\n        break;\n}\n\nmsg.payload.color = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color;\n\n\n\n\nglobal.set(\"data\", data);\n\nreturn msg; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "c30f201411f97b8c"
            ]
        ]
    },
    {
        "id": "424d8fee11f82817",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Lagerstandsverlauf",
        "group": "7e197a6ce2585433",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lagerstandsverlauf",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cb431db881a3ce65",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bestellstatus:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "391dec887b5fe329",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 5",
        "links": [
            "08a4f55b5e335467",
            "3704c0b1c8051013",
            "c04df3c0e2f685d2",
            "3fc043f21258ef8f",
            "c9f29e9a06129ae6",
            "a9210a32079dd0c8",
            "9d0182927d842af0"
        ],
        "x": 905,
        "y": 360,
        "wires": [
            [
                "e0c08f2686fc969f"
            ]
        ]
    },
    {
        "id": "ea8003d6d495ede2",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Material:",
        "format": "{{msg.payload.description}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1600,
        "y": 300,
        "wires": []
    },
    {
        "id": "54fe66e776cdce59",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 35",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"ymin\": min, \"ymax\": max };\n\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight ;    \n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "424d8fee11f82817"
            ]
        ]
    },
    {
        "id": "e0c08f2686fc969f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 36",
        "func": "const REGAL_NR = 1;\nconst BOX_NR = 0;\n\nif (msg.payload.regalnr == REGAL_NR && msg.payload.boxnr == BOX_NR) {\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "2743b453fcb3589b",
                "ea648b5b9b4fa5cc",
                "e0c7f6044b14d88c",
                "b12c1a121b057a4c",
                "54fe66e776cdce59",
                "927e59b8627fb40a"
            ]
        ]
    },
    {
        "id": "2743b453fcb3589b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 37",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.description = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "ea8003d6d495ede2"
            ]
        ]
    },
    {
        "id": "e6a68a38ce15d236",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gewicht pro Stück:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea648b5b9b4fa5cc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 38",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.pice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 340,
        "wires": [
            [
                "e6a68a38ce15d236"
            ]
        ]
    },
    {
        "id": "748e2c43c6695c7a",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelles Gewicht:",
        "format": "{{msg.payload.weight}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 380,
        "wires": []
    },
    {
        "id": "e0c7f6044b14d88c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 39",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var weight = msg.weight;\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload.weight = weight;\n\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "748e2c43c6695c7a"
            ]
        ]
    },
    {
        "id": "207160fad0275534",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierung:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 540,
        "wires": []
    },
    {
        "id": "5e262781038a804d",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7e197a6ce2585433",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierungsdatum:",
        "format": "{{msg.payload.pice}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 580,
        "wires": []
    },
    {
        "id": "b12c1a121b057a4c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 40",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n\n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"min\":min, \"max\":max };\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "a4916f549d69fa94"
            ]
        ]
    },
    {
        "id": "a4916f549d69fa94",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7e197a6ce2585433",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Aktueller Lagerstand",
        "label": "Stk.",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1560,
        "y": 420,
        "wires": []
    },
    {
        "id": "427ea2e1db285866",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7e197a6ce2585433",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibrierung",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1590,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3801cfd0fe451377",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Lagerstandsverlauf",
        "group": "74826537ed6344b4",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lagerstandsverlauf",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1590,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "0064ead898f28002",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bestellstatus:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 1400,
        "wires": []
    },
    {
        "id": "233cbcef25daba71",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 6",
        "links": [
            "08a4f55b5e335467",
            "3704c0b1c8051013",
            "c04df3c0e2f685d2",
            "3fc043f21258ef8f",
            "c9f29e9a06129ae6",
            "a9210a32079dd0c8",
            "9d0182927d842af0"
        ],
        "x": 925,
        "y": 1300,
        "wires": [
            [
                "d7e057de9c8ca18d"
            ]
        ]
    },
    {
        "id": "ab86d4a162f42865",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Material:",
        "format": "{{msg.payload.description}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "41597821b274b2b0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 41",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"ymin\": min, \"ymax\": max };\n\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight ;    \n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1440,
        "wires": [
            [
                "3801cfd0fe451377"
            ]
        ]
    },
    {
        "id": "d7e057de9c8ca18d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 42",
        "func": "const REGAL_NR = 1;\nconst BOX_NR = 1;\n\nif (msg.payload.regalnr == REGAL_NR && msg.payload.boxnr == BOX_NR) {\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1300,
        "wires": [
            [
                "51a51724a72a1c3c",
                "5a44431d50f8eb83",
                "5e08fd56696de638",
                "e2fc3ef593d4b745",
                "41597821b274b2b0",
                "0df59f6c41afefb1"
            ]
        ]
    },
    {
        "id": "51a51724a72a1c3c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 43",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.description = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].description;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1240,
        "wires": [
            [
                "ab86d4a162f42865"
            ]
        ]
    },
    {
        "id": "e71ff21c4e52b145",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gewicht pro Stück:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5a44431d50f8eb83",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 44",
        "func": "var data = global.get(\"data\");\n\nmsg.payload.pice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1280,
        "wires": [
            [
                "e71ff21c4e52b145"
            ]
        ]
    },
    {
        "id": "b4090cf225e569ee",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelles Gewicht:",
        "format": "{{msg.payload.weight}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1590,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5e08fd56696de638",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 45",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n    \n    var weight = msg.weight;\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload.weight = weight;\n\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1320,
        "wires": [
            [
                "b4090cf225e569ee"
            ]
        ]
    },
    {
        "id": "d206b5776879d967",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierung:",
        "format": "{{msg.payload.pice}} kg",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ccc8016f14aa5cd9",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "74826537ed6344b4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kalibrierungsdatum:",
        "format": "{{msg.payload.pice}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 1520,
        "wires": []
    },
    {
        "id": "e2fc3ef593d4b745",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 46",
        "func": "if (msg.weight != null) {\n\n    var data = global.get(\"data\");\n\n    var min = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.min;\n    var max = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dashboardSetup.max;\n    msg.ui_control = { \"min\":min, \"max\":max };\n    \n    var weightperpice = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.pice;\n    var weight = msg.weight;\n\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured = weight;\n    msg.payload = (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.measured / weightperpice).toFixed(0);\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1360,
        "wires": [
            [
                "554aaa4c275ab913"
            ]
        ]
    },
    {
        "id": "554aaa4c275ab913",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "74826537ed6344b4",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Aktueller Lagerstand",
        "label": "Stk.",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1580,
        "y": 1360,
        "wires": []
    },
    {
        "id": "397adc9a2347cf3f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "74826537ed6344b4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Kalibrierung",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1610,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "0df59f6c41afefb1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 47",
        "func": "var data = global.get(\"data\");\n\n\n\nif (msg.payload.onoff != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.onoff = msg.payload.onoff;\n}\n\n\nif (msg.payload.color != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = msg.payload.color;\n}\n\nswitch (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color) {\n    case \"red\":\n        msg.payload.setBoxColor = \"rgb(255,0,0)\";\n        break;\n    case \"yellow\":\n        msg.payload.setBoxColor = \"rgb(255,255,0)\";\n        break;\n    case \"green\":\n        msg.payload.setBoxColor = \"rgb(0,255,0)\";\n        break;\n    case \"blue\":\n        msg.payload.setBoxColor = \"rgb(0,0,255)\";\n        break;\n    default:\n        msg.payload.setBoxColor = \"rgb(0,0,0)\";\n        break;\n}\n\nmsg.payload.color = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color;\n\n\n\n\nglobal.set(\"data\", data);\n\nreturn msg; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1180,
        "wires": [
            [
                "2b67a4766d1d918c"
            ]
        ]
    },
    {
        "id": "c77bc3b82007dc7d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 48",
        "func": "const REGAL_NR = 0;\nconst BOX_NR = 0;\n\nvar data = global.get(\"data\");\n\ndata.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated = true;\nglobal.set(\"data\", data);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 820,
        "wires": [
            [
                "3fc043f21258ef8f",
                "838c1b29b02bcb36"
            ]
        ]
    },
    {
        "id": "32256a52ba8c274f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "1553cc8927085845"
            ]
        ]
    },
    {
        "id": "3fc043f21258ef8f",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "02796594dea1bd6f",
            "aec30c78b29ec91e",
            "391dec887b5fe329",
            "233cbcef25daba71"
        ],
        "x": 915,
        "y": 820,
        "wires": []
    },
    {
        "id": "eeb7850a2b3c3776",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "a6bf475ba4f09f85",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "5d7197a07568184e"
        ],
        "x": 545,
        "y": 220,
        "wires": []
    },
    {
        "id": "dec643171e37a325",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 53",
        "func": "var data = global.get(\"data\");\n\nif (msg.payload.color != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color = msg.payload.color;\n    global.set(\"data\", data);\n    return msg\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "a6bf475ba4f09f85"
            ]
        ]
    },
    {
        "id": "1868194fbc5dcf4e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 54",
        "func": "var data = global.get(\"data\");\n\nswitch (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].LED.color) {\n    case \"red\":\n        msg.payload.setBoxColor = \"rgb(255,0,0)\";\n        break;\n    case \"yellow\":\n        msg.payload.setBoxColor = \"rgb(255,255,0)\";\n        break;\n    case \"green\":\n        msg.payload.setBoxColor = \"rgb(0,255,0)\";\n        break;\n    case \"blue\":\n        msg.payload.setBoxColor = \"rgb(0,0,255)\";\n        break;\n    case \"white\":\n        msg.payload.setBoxColor = \"rgb(255,255,255)\";\n        break;\n    default:\n        msg.payload.setBoxColor = \"rgb(0,0,0)\";\n        break;\n}\n\nreturn msg; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "ecc548979ce46956"
            ]
        ]
    },
    {
        "id": "876d88bff2324c8f",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "3d1d12da6fbd4125"
        ],
        "x": 545,
        "y": 180,
        "wires": []
    },
    {
        "id": "f1d5ba4dee117d8f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 50",
        "func": "var data = global.get(\"data\");\n\n\nif (msg.payload.init == true) {\n    if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare != null &&\n        data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare != \"\") {\n        \n        msg.payload.tare = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare;\n        msg.payload.time = data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare;\n    } else {\n        msg.payload.tare = null;\n        msg.payload.time = null;\n    }\n    return msg;\n} else if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight != null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated = false;\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.dateoftare = msg.payload.time.toString();\n    \n    global.set(\"data\", data);\n    return msg;\n}\n\n\n\n\n\n/*\n else if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight == null) {\n    return msg;\n}*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "fc8a46031f4e59e7",
                "d6ae6da59b4f5977"
            ]
        ]
    },
    {
        "id": "8bba5c4572499673",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 55",
        "func": "var data = global.get(\"data\");\n\n\nif (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight == null) {\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = null;\n    msg.payload.tare = null;\n    \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = null;\n    msg.payload.time = null;\n}\n\nelse if (data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated == true && msg.weight != null) {\n    \n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.calibrated = false;\n    data.Regal[msg.payload.regalnr].Box[msg.payload.boxnr].weight.tare = Number(msg.weight);\n    global.set(\"data\", data);\n\n    msg.payload.tara = Math.round(Number(msg.weight) * 10000) / 10000 ;\n\n    var time = Date.now();\n    msg.payload.time = time;\n\n    \n    time.toString;\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "838c1b29b02bcb36",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 860,
        "wires": []
    },
    {
        "id": "685427a8604b9997",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "8c49e53dac04259a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "e95aacbd966faf86",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Material Status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.warnmessage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "9927e580bed5712e"
            ]
        ]
    },
    {
        "id": "479dfb722bcbb753",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 760,
        "wires": [
            [
                "b962e23e4de4c320"
            ]
        ]
    },
    {
        "id": "72bfbce0a078809f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Material Status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alarmmessage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "479dfb722bcbb753"
            ]
        ]
    },
    {
        "id": "b962e23e4de4c320",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bestellstatus",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Haben sie schon nachbestellt?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "a34a30af937cdd31"
            ]
        ]
    },
    {
        "id": "a34a30af937cdd31",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Nein",
        "cancel": "Ja",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "d8aed1a123ce9ec7"
            ]
        ]
    },
    {
        "id": "d8aed1a123ce9ec7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 57",
        "func": "var data = global.get(\"data\");\n\nif (msg.payload == \"Ja\") {\n    data.Regal[msg.regalnr].Box[msg.boxnr].state.ordered = 3;\n    global.set(\"data\", data);\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9927e580bed5712e",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "7c319599489e5277",
        "type": "http request",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "54fb6980721a7449",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b609c3233ed08a",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "function 2",
        "func": "var data = global.get(\"data\");\n\nvar regalnr = msg.payload.regalnr + 1;\nvar boxnr = msg.payload.boxnr + 1;\n\nmsg.url = data.control.communication.protocol + \"://\" + data.control.acme + regalnr + \":\" + data.control.communication.port + \"/\" +\n   data.control.cse + regalnr + \"/\" + data.control.ae + regalnr + data.control.ea + \"/\" + data.control.box + \n   boxnr + \"/\" + data.control.device.led.name + \"/\" + data.control.device.led.color.name;\n\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = data.control.headers.user;\nmsg.headers['X-M2M-RI'] = Number(data.control.device.led.color.code.toString() + Date.now().toString());\nmsg.headers['X-M2M-RVI'] = data.control.headers.type;\nmsg.headers['Content-Type'] = data.control.headers.contenttype;\nmsg.headers['Accept'] = data.control.headers.accept;\n\nswitch (msg.payload.color) {\n   case \"red\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 255,\\\"green\\\": 0 ,\\\"blue\\\": 0}}\";\n      break;\n   case \"yellow\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 255,\\\"green\\\": 255,\\\"blue\\\": 0}}\";\n      break;\n   case \"green\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 0,\\\"green\\\": 255,\\\"blue\\\": 0}}\";\n      break;\n   case \"blue\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 0,\\\"green\\\": 0,\\\"blue\\\": 255}}\";\n      break;\n   case \"white\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 255,\\\"green\\\": 255,\\\"blue\\\": 255}}\";\n      break;\n   case \"black\":\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 0,\\\"green\\\": 0,\\\"blue\\\": 0}}\";\n      break;\n   default:\n      msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\": 0,\\\"green\\\": 0,\\\"blue\\\": 0}}\";\n      break;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "7c319599489e5277"
            ]
        ]
    },
    {
        "id": "286ed8369b0d5cd1",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1180,
        "wires": []
    },
    {
        "id": "21fa50a67879f03d",
        "type": "http request",
        "z": "32a4376ec58dcb18",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "54fb6980721a7449",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1180,
        "wires": [
            [
                "286ed8369b0d5cd1"
            ]
        ]
    },
    {
        "id": "64267ebb9ab30030",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "name": "function 3",
        "func": "var data = global.get(\"data\");\n\nvar regalnr = msg.payload.regalnr + 1;\nvar boxnr = msg.payload.boxnr + 1;\n\nmsg.url = data.control.communication.protocol + \"://\" + data.control.acme + regalnr + \":\" + data.control.communication.port + \"/\" +\n    data.control.cse + regalnr + \"/\" + data.control.ae + regalnr + data.control.ea + \"/\" + data.control.box +\n    boxnr + \"/\" + data.control.device.scale.name + \"/\" + data.control.device.scale.property.name;\n\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = data.control.headers.user;\nmsg.headers['X-M2M-RI'] = Number(data.control.device.scale.property.code.toString() + Date.now().toString());\nmsg.headers['X-M2M-RVI'] = data.control.headers.type;\nmsg.headers['Content-Type'] = data.control.headers.contenttype;\nmsg.headers['Accept'] = data.control.headers.accept;\n\nmsg.payload = \"{\\\"cod:weigt\\\":{\\\"weigt\\\":\" + msg.payload.weight + \"}}\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "21fa50a67879f03d"
            ]
        ]
    },
    {
        "id": "9b4a88aa8caae5da",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "name": "tare",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"weight\":0.1}",
        "payloadType": "json",
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "64267ebb9ab30030"
            ]
        ]
    },
    {
        "id": "e8f29bf41a326447",
        "type": "http in",
        "z": "32a4376ec58dcb18",
        "name": "",
        "url": "/",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "888a7ca50062a170",
                "7be1eb9f95900f0e",
                "6c85ac486cb668a9",
                "630824f30a93f5da"
            ]
        ]
    },
    {
        "id": "6c85ac486cb668a9",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "name": "function 7",
        "func": "msg.payload = ''\nmsg.headers = {\n        'X-M2M-RSC': '2000',\n        'X-M2M-RI': msg.req.headers['x-m2m-ri']\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1580,
        "wires": [
            [
                "1230effcadc3e8ca",
                "50793f6e5a46fa6a"
            ]
        ]
    },
    {
        "id": "888a7ca50062a170",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1620,
        "wires": []
    },
    {
        "id": "7be1eb9f95900f0e",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers.x-m2m-ri",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1230effcadc3e8ca",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "headers",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1620,
        "wires": []
    },
    {
        "id": "5d0e38fcecc83ec2",
        "type": "comment",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "Set LED color",
        "info": "",
        "x": 650,
        "y": 900,
        "wires": []
    },
    {
        "id": "970bd836d8074e8d",
        "type": "http request",
        "z": "32a4376ec58dcb18",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "54fb6980721a7449",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 1900,
        "wires": [
            [
                "b2548e75c5e3185b"
            ]
        ]
    },
    {
        "id": "971da2f97798c99a",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 1900,
        "wires": [
            [
                "93e44b374b2db968"
            ]
        ]
    },
    {
        "id": "b2548e75c5e3185b",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "d": true,
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1900,
        "wires": []
    },
    {
        "id": "93e44b374b2db968",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "d": true,
        "name": "function 8",
        "func": "//msg.url = /* flow.get(\"PROTOCOL\") + \"://\" + flow.get(\"CSE\") + \":\" + flow.get(\"PORT\") + \"/\" + flow.get(\"EXTENSION\") + \"/\" + \n //         flow.get(\"AE\") + \"/\" + flow.get(\"BOX\") + \"/\" + flow.get(\"DEVICE_COLOR\");\n//\n\n//msg.url = flow.get(\"PROTOCOL\") + \"://\" + flow.get(\"CSE\") + \":\" + flow.get(\"PORT\") + \"/\" + \n\n\n//msg.url = \"https://acme-regal-1:8080/sub525637488\";\n//msg.url = \"https://acme-regal-1:8080/sub525637488\";\nmsg.url = \"https://acme-in:8080/~/id-asn/sub525637488\";\n\n\nmsg.url = flow.get(\"PROTOCOL\") + \"://\" + flow.get(\"ACME_IN\") + \":\" + flow.get(\"PORT\") + \"/~/\" + \n\n//pi --> Box\n\n\n\n\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = flow.get(\"USER_SCALE\");\nmsg.headers['X-M2M-RI'] = flow.get(\"CODE_SCALE\"); // 103++RandomApplicationIDTimestamp\nmsg.headers['X-M2M-RVI'] = flow.get(\"TYPE_SCALE\");\nmsg.headers['Content-Type'] = flow.get(\"CONTENT-TYPE_SCALE\");\nmsg.headers['Accept'] = flow.get(\"ACCEPT_SCALE\");\n\n//msg.payload = \"{\\\"cod:color\\\":{\\\"red\\\":\" + msg.payload[\"red\"] + \",\\\"green\\\":\" + msg.payload[\"green\"] + \",\\\"blue\\\":\" + msg.payload[\"blue\"] + \"}}\";\n//msg.payload = \"\"\n\n/*\n'X-M2M-Origin': originator,\n'X-M2M-RI': requestIdentifier,\n'X-M2M-RVI': releaseVersionIndicator,\n            'Content-Type': 'application/json',\n            'Accept': 'application/json'\n*/\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1900,
        "wires": [
            [
                "970bd836d8074e8d"
            ]
        ]
    },
    {
        "id": "5b2ac23fc6bfa317",
        "type": "comment",
        "z": "32a4376ec58dcb18",
        "name": "Get Weight",
        "info": "",
        "x": 380,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f999bbe692b50a86",
        "type": "comment",
        "z": "32a4376ec58dcb18",
        "name": "Get Weight @Test Only",
        "info": "",
        "x": 420,
        "y": 1120,
        "wires": []
    },
    {
        "id": "630824f30a93f5da",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "name": "function 9",
        "func": "var data = global.get(\"data\");\n\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = data.control.headers.user;\nmsg.headers['X-M2M-RI'] = Number(data.control.device.scale.property.code.toString() + Date.now().toString());\nmsg.headers['X-M2M-RVI'] = data.control.headers.type;\nmsg.headers['Content-Type'] = data.control.headers.contenttype;\nmsg.headers['Accept'] = data.control.headers.accept;\n\n\nmsg.url =  data.control.communication.protocol + \"://\" + data.control.notification.acmein + \":\" + data.control.communication.port + \"/\" +\n           \"~\" + msg.payload[\"m2m:sgn\"].sur;\nmsg.weight = msg.payload[\"m2m:sgn\"].nev.rep[\"cod:weigt\"].weigt;\n\n\nvar regalname = msg.payload[\"m2m:sgn\"].sur;\n\nmsg.payload = '';\n\nmsg.regalname = regalname;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1700,
        "wires": [
            [
                "751eec616ba6cb52",
                "0c643208913b83ab"
            ]
        ]
    },
    {
        "id": "751eec616ba6cb52",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1740,
        "wires": []
    },
    {
        "id": "0c643208913b83ab",
        "type": "http request",
        "z": "32a4376ec58dcb18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "54fb6980721a7449",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1700,
        "wires": [
            [
                "7b6362c6a8783c2a",
                "61a17842236f1081"
            ]
        ]
    },
    {
        "id": "7b6362c6a8783c2a",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1740,
        "wires": []
    },
    {
        "id": "e70e400431f477bb",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1740,
        "wires": []
    },
    {
        "id": "61a17842236f1081",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "name": "function 10",
        "func": "var re = new RegExp(\"(?<=regal-)[0-9]+(?=\\/)\");\nvar regalnr = Number(re.exec(msg.url)) - 1;\n\nre = new RegExp(\"(?<=Box)[0-9]+(?=SubscriptionDeviceScaleWeight)\");\nvar boxnr = Number(re.exec(msg.payload)) - 1;\n\nmsg.payload = {};\nmsg.payload.regalnr = regalnr;\nmsg.payload.boxnr = boxnr;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1700,
        "wires": [
            [
                "e70e400431f477bb",
                "c04df3c0e2f685d2"
            ]
        ]
    },
    {
        "id": "50793f6e5a46fa6a",
        "type": "http response",
        "z": "32a4376ec58dcb18",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a321c927ee625596",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "4ec4f64c1a115e60"
            ]
        ]
    },
    {
        "id": "4ec4f64c1a115e60",
        "type": "file in",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "",
        "filename": "/data/data.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "66a33b26115227f2"
            ]
        ]
    },
    {
        "id": "bac6e123a3daaf96",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "init LED - on/off",
        "func": "var data = global.get(\"data\");\n\nvar msgCollection = [];\n\nvar index = 0;\n\nfor (var regal_index = 0; regal_index < data.Regal.length; regal_index++) {\n    for (var boxen_index = 0; boxen_index < data.Regal[regal_index].Box.length; boxen_index++) {\n      \n        msgCollection[index] = {regalnr: regal_index, boxnr: boxen_index, \n                            onoff: data.Regal[regal_index].Box[boxen_index].LED.onoff};\n        index++;\n    }\n}\n\nmsg.payload = msgCollection;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 220,
        "wires": [
            [
                "adbe95ec700c6293"
            ]
        ]
    },
    {
        "id": "66a33b26115227f2",
        "type": "json",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "a9e9ec4394db16b4"
            ]
        ]
    },
    {
        "id": "adbe95ec700c6293",
        "type": "split",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "3704c0b1c8051013",
                "c1e42e8d61c484c0"
            ]
        ]
    },
    {
        "id": "a9e9ec4394db16b4",
        "type": "change",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "bac6e123a3daaf96",
                "d5ede394cd1c889c"
            ]
        ]
    },
    {
        "id": "3704c0b1c8051013",
        "type": "link out",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "led onoff",
        "mode": "link",
        "links": [
            "02796594dea1bd6f",
            "c5d09fd94dec7abd",
            "aec30c78b29ec91e",
            "391dec887b5fe329",
            "233cbcef25daba71"
        ],
        "x": 1225,
        "y": 220,
        "wires": []
    },
    {
        "id": "c04df3c0e2f685d2",
        "type": "link out",
        "z": "32a4376ec58dcb18",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "02796594dea1bd6f",
            "aec30c78b29ec91e",
            "391dec887b5fe329",
            "233cbcef25daba71"
        ],
        "x": 1015,
        "y": 1700,
        "wires": []
    },
    {
        "id": "6d6b3036a5fa4c20",
        "type": "ui_button",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "",
        "group": "d5174411e8449277",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Status Speichern",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "91c208aea12929f0"
            ]
        ]
    },
    {
        "id": "91c208aea12929f0",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "function 49",
        "func": "msg.payload = global.get(\"data\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "e40a51f06523fc95"
            ]
        ]
    },
    {
        "id": "c463710e40c9cd11",
        "type": "file",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "",
        "filename": "/data/data.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 860,
        "y": 400,
        "wires": [
            [
                "d55ee4c6c9f050d0"
            ]
        ]
    },
    {
        "id": "e40a51f06523fc95",
        "type": "json",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "c463710e40c9cd11"
            ]
        ]
    },
    {
        "id": "c1e42e8d61c484c0",
        "type": "debug",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "7edaae7ba7291cd2",
        "type": "ui_button",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "",
        "group": "d5174411e8449277",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Alle LEDs ausschalten",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "b030588348e11388"
            ]
        ]
    },
    {
        "id": "2a80bb8858f15ce8",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "6d6b3036a5fa4c20"
            ]
        ]
    },
    {
        "id": "235f5909cc66ec21",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "7edaae7ba7291cd2"
            ]
        ]
    },
    {
        "id": "b030588348e11388",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "function 51",
        "func": "var data = global.get(\"data\");\n\nvar msgCollection = [];\n\nvar index = 0;\n\nfor (var regal_index = 0; regal_index < data.Regal.length; regal_index++) {\n    for (var boxen_index = 0; boxen_index < data.Regal[regal_index].Box.length; boxen_index++) {\n\n        msgCollection[index] = {\n            regalnr: regal_index, boxnr: boxen_index,\n            onoff: false\n        };\n        index++;\n    }\n}\n\nmsg.payload = msgCollection;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "7c51d03ac26e77ac"
            ]
        ]
    },
    {
        "id": "ff793acd5c567a5f",
        "type": "ui_button",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "",
        "group": "d5174411e8449277",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Alle LEDs einschalten",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "d06e1728046938e3"
            ]
        ]
    },
    {
        "id": "7f246cb19efaec9c",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "ff793acd5c567a5f"
            ]
        ]
    },
    {
        "id": "d06e1728046938e3",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "function 52",
        "func": "var data = global.get(\"data\");\n\nvar msgCollection = [];\n\nvar index = 0;\n\nfor (var regal_index = 0; regal_index < data.Regal.length; regal_index++) {\n    for (var boxen_index = 0; boxen_index < data.Regal[regal_index].Box.length; boxen_index++) {\n\n        msgCollection[index] = {\n            regalnr: regal_index, boxnr: boxen_index,\n            onoff: true\n        };\n        index++;\n    }\n}\n\nmsg.payload = msgCollection;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 540,
        "wires": [
            [
                "7c51d03ac26e77ac"
            ]
        ]
    },
    {
        "id": "d20693912b4577d1",
        "type": "ui_text",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "group": "d5174411e8449277",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a4447fb478d3667",
        "type": "ui_text",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "group": "d5174411e8449277",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "40ee02817104e6d3",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "name": "6.1 kg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"weight\":6.1}",
        "payloadType": "json",
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "64267ebb9ab30030"
            ]
        ]
    },
    {
        "id": "260cd095bae54f4c",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "name": "8.1 kg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"weight\":8.1}",
        "payloadType": "json",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "64267ebb9ab30030"
            ]
        ]
    },
    {
        "id": "5d7197a07568184e",
        "type": "link in",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "set new LED color",
        "links": [
            "a6bf475ba4f09f85"
        ],
        "x": 605,
        "y": 960,
        "wires": [
            [
                "d2b609c3233ed08a"
            ]
        ]
    },
    {
        "id": "bf9857aee7662784",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "name": "3.1 kg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"weight\":3.1}",
        "payloadType": "json",
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "64267ebb9ab30030"
            ]
        ]
    },
    {
        "id": "7963d89aa5f323c3",
        "type": "ui_toast",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1230,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d55ee4c6c9f050d0",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "5c501fe6e7bfd77e",
        "name": "function 56",
        "func": "msg.payload = \"Status gespeichert.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "7963d89aa5f323c3"
            ]
        ]
    },
    {
        "id": "d5ede394cd1c889c",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "init",
        "func": "var data = global.get(\"data\");\n\nvar msgCollection = [];\n\nvar index = 0;\n\nfor (var regal_index = 0; regal_index < data.Regal.length; regal_index++) {\n    for (var boxen_index = 0; boxen_index < data.Regal[regal_index].Box.length; boxen_index++) {\n      \n        msgCollection[index] = {regalnr: regal_index, boxnr: boxen_index,\n                                init: true,\n                                measurement: data.Regal[regal_index].Box[boxen_index].weight.measured,\n                                tare: data.Regal[regal_index].Box[boxen_index].weight.tare,\n                                time: data.Regal[regal_index].Box[boxen_index].weight.dateoftare\n                            };\n        index++;\n    }\n}\n\n\n\nmsg.payload = msgCollection;\n// msg.payload.regalindex = regal_index;\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 260,
        "wires": [
            [
                "f986b052d651fd8b"
            ]
        ]
    },
    {
        "id": "f986b052d651fd8b",
        "type": "split",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "a9210a32079dd0c8"
            ]
        ]
    },
    {
        "id": "a9210a32079dd0c8",
        "type": "link out",
        "z": "32a4376ec58dcb18",
        "g": "54f78cbe45083d94",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "02796594dea1bd6f",
            "233cbcef25daba71",
            "391dec887b5fe329",
            "aec30c78b29ec91e"
        ],
        "x": 1225,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c51d03ac26e77ac",
        "type": "split",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "9d0182927d842af0"
            ]
        ]
    },
    {
        "id": "1807a467ef6b4fad",
        "type": "http request",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "54fb6980721a7449",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "419070db5845acbf",
        "type": "function",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "function 6",
        "func": "var data = global.get(\"data\");\n\nvar regalnr = msg.payload.regalnr + 1;\nvar boxnr = msg.payload.boxnr + 1;\n\nmsg.url = data.control.communication.protocol + \"://\" + data.control.acme + regalnr + \":\" + data.control.communication.port + \"/\" +\n   data.control.cse + regalnr + \"/\" + data.control.ae + regalnr + data.control.ea + \"/\" + data.control.box + \n   boxnr + \"/\" + data.control.device.led.name + \"/\" + data.control.device.led.breaker.name;\n\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = data.control.headers.user;\nmsg.headers['X-M2M-RI'] = Number(data.control.device.led.breaker.code.toString() + Date.now().toString());\nmsg.headers['X-M2M-RVI'] = data.control.headers.type;\nmsg.headers['Content-Type'] = data.control.headers.contenttype;\nmsg.headers['Accept'] = data.control.headers.accept;\n\n\nmsg.payload = \"{\\\"cod:binSh\\\":{\\\"powSe\\\":\" + msg.payload.onoff + \"}}\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 780,
        "wires": [
            [
                "1807a467ef6b4fad"
            ]
        ]
    },
    {
        "id": "98ccbe5c0eedbcf4",
        "type": "comment",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "On/Off LED",
        "info": "",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "3d1d12da6fbd4125",
        "type": "link in",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "set new LED onoff",
        "links": [
            "876d88bff2324c8f"
        ],
        "x": 605,
        "y": 740,
        "wires": [
            [
                "419070db5845acbf"
            ]
        ]
    },
    {
        "id": "9d0182927d842af0",
        "type": "link out",
        "z": "32a4376ec58dcb18",
        "g": "e8015cb1c017dae5",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "02796594dea1bd6f",
            "233cbcef25daba71",
            "391dec887b5fe329",
            "aec30c78b29ec91e"
        ],
        "x": 825,
        "y": 560,
        "wires": []
    },
    {
        "id": "ae0c0f015d23ba98",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "Force reg: 0 box: 0 LED to color RED",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"color\":\"red\"}",
        "payloadType": "json",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "d2b609c3233ed08a"
            ]
        ]
    },
    {
        "id": "fb4fe75db74665a6",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "Force reg: 0 box: 0 LED to color Yellow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"color\":\"yellow\"}",
        "payloadType": "json",
        "x": 250,
        "y": 980,
        "wires": [
            [
                "d2b609c3233ed08a"
            ]
        ]
    },
    {
        "id": "d5200202227d96e8",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "Force reg: 0 box: 0 LED to onoff true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"onoff\": true}",
        "payloadType": "json",
        "x": 240,
        "y": 760,
        "wires": [
            [
                "419070db5845acbf"
            ]
        ]
    },
    {
        "id": "f8fd87ffbfba9a24",
        "type": "inject",
        "z": "32a4376ec58dcb18",
        "g": "5a9f7571b5ef7b8d",
        "name": "Force reg: 0 box: 0 LED to onoff false",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"regalnr\":0,\"boxnr\":0,\"onoff\": false}",
        "payloadType": "json",
        "x": 250,
        "y": 800,
        "wires": [
            [
                "419070db5845acbf"
            ]
        ]
    }
]