example-code/node-red-notification-server.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9be5c2b93e058d99",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a1fe885adbae51e",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "1130fc7ca5df6450",
                "4dad0d0e5aa98814",
                "1a6585f4d1e0711c"
            ]
        ]
    },
    {
        "id": "1a6585f4d1e0711c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = ''\nmsg.headers = {\n        'X-M2M-RSC': '2000',\n        'X-M2M-RI': msg.req.headers['x-m2m-ri']\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "9be5c2b93e058d99",
                "77b1280321307fcd"
            ]
        ]
    },
    {
        "id": "1130fc7ca5df6450",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "4dad0d0e5aa98814",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers.x-m2m-ri",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "77b1280321307fcd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "headers",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    }
]